@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lexend/Lexend-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lexend/Lexend-VariableFont_wght.woff2") format("woff2");
    font-display: swap;
}